button {
    padding: 10px;
    font-size: 20px;
}

.btn-holder {
    text-align: center;
    margin: 10px;
}

.grid-container {
    height: 700px;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.grid-container > div {
    box-sizing: border-box;
    border: 1px solid #00000088;
}